CREATE TABLE IF NOT EXISTS public.configuracoes_empresa (id UUID DEFAULT gen_random_uuid() PRIMARY KEY, nome TEXT NOT NULL DEFAULT 'Gabi Almeida Estética Avançada', cnpj TEXT NOT NULL DEFAULT '00.000.000/0001-00', endereco TEXT NOT NULL DEFAULT 'São Paulo - SP', telefone TEXT NOT NULL DEFAULT '(11) 99999-9999');
